<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist</title>
</head>
<body>
    <h1><a href="/albums">Elton John</a></h1>
    <img src="https://d7hftxdivxxvm.cloudfront.net/?resize_to=fit&width=800&height=800&quality=80&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2F24t7CSPVAHCY9b0XgKudJw%2Fnormalized.jpg">
    <p>Sir Elton Hercules John CH CBE is an English singer, pianist and composer. Commonly nicknamed the "Rocket Man" after his 1972 hit single of the same name, John has led a commercially successful career as a solo artist since the 1970s, having released 31 albums since 1969.</p>
</body>
</html>